// font family
@import url('https://fonts.googleapis.com/css?family=Orbitron');

a, p, div, span {
  font-family: 'Orbitron', sans-serif;
}

// default color
$primary-color: #D9E7EA;


// font color
$font-gray1: #434148;

// border color
$border-gray1: #c1d3d7;

